.footer-area {
    background-color: $color-cream-light;

    h3 {
        font-size: 24px;
        margin-bottom: 27px;
        text-align: center;
    }

    .footer__widget {
        padding-top: 80px;
    
        &--left {
            padding: 70px 30px;
            padding-bottom: 60px;
            border-top: 4px solid $color-yellow-light;
            margin-right: 40px;
            margin-bottom: 40px;
        
            .footer__logo {
                margin-bottom: 20px;
            }
        
            p {
                margin-bottom: 15px;
            }
        
            .footer__social-media {
                margin-top: 30px;
        
                a {
                    height: 35px;
                    width: 35px;
                    font-size: 14px;
                    font-weight: 400;
                    display: inline-block;
                    text-align: center;
                    line-height: 33px;
                    color: $color-yellow-light;
                    margin-right: 8px;
                    box-shadow: 0px 3px 9px 0px rgba(231, 227, 226, 0.4);
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    transition: all .3s;

        
                    &:hover {
                        background-color: $color-yellow-light;
                        color: #fff;
                    }
                }
            }
        }
    
        &--event {
            padding-top: 80px;
            margin-bottom: 40px;

            @include _768 {
                padding-top: 0px;
                margin-top: -50px;
            }
    
            li {
                margin-bottom: 12px;
    
                a {
                    color: #7f7a7a;
                    display: inline-block;
                    padding-left: 20px;
                    position: relative;

                    i {
                        padding-right: 8px;
                    }
                }
            }
        }
    
        &--contact {
            padding-top: 80px;
            margin-left: -35px;
            margin-bottom: 40px;

            @include _768 {
                margin-left: 0px;
                padding-top: 0px;
            }
    
            h3 {
                font-size: 24px;
                margin-bottom: 27px;
            }
    
            li {
                margin-bottom: 33px;
    
                span {
                    float: left;
                    margin-right: 10px;
                    font-size: 15px;
                    color: $color-yellow-dark;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    border-radius: 5px;
                }
    
                p {
                    color: $color-black;
                    margin-bottom: 0;
                }
            }
        }
    
        &--photo {
            padding-top: 80px;
            margin-bottom: 40px;
                
            @include _768 {
                padding-top: 10px;
            }

            img {
                width: 100%;      
            }    
            
        }
    }
}