.header {
    padding: 0;

    &-btn {
        float: right;
        margin-left: 20px;
        display: block;

    }
}

.header__logo-img {

    img {
        width: 140px;
    }
}

.header__menu-container {

    nav {
        display: block;
        padding: 15px 0;

            ul li {
                display: inline-block;
                position: relative;
                margin-right: 35px;
                
                .menu-item {
                    display: block;
                    text-transform: uppercase;
                    font-weight: 700;
                    padding: 37px 0;
                    
                    &::before {
                        content: "";

                        position: absolute;
                        top: 50%;
                        left: -15px;
                        background: #ffdc93;

                        width: 35px;
                        height: 35px;

                        transform: translateY(-50%);
                        z-index: -1;
                        opacity: 0;
                        transition: all .2s;
                        -webkit-border-radius: 50%;
                        border-radius: 50%;
                    }

                    &:hover::before {
                        opacity: 1;
                    } 
                }

                .menu-item.active::before {
                    opacity: 1;
                }
        
                
        
                .submenu {
                    position: absolute;
                    left: 0;
                    top: 90%;
                    min-width: 220px;
                    padding: 15px 0;
                    border-radius: 3px;
                    z-index: 10;
                    background-color: #fff;
                    border-top: 3px solid #ffc856;
                    box-shadow: 0 0 10px 3px rgba(black, .2);
                    visibility: hidden;
                    opacity: 0;
                    transition: all .4s;
        
                    li {
                        display: block;
                        padding: 0;
                        margin: 0;
        
                        a {
                            display: block;
                            padding: 9px 25px;
                            font-weight: 600;
                            text-transform: capitalize;
                            transition: all .3s;

                            &:hover {
                                color: $color-yellow-dark;
                            }
                        }

                        a.active {
                            color: $color-yellow-dark;  
                        }
                    }

                    &:hover {
                        opacity: 1;
                        visibility: visible;
                    }

                }

                .menu-item:hover ~ .submenu {
                    visibility: visible;
                    opacity: 1;
                }
        }    
    }
}


.menu {
    margin: 0;
    padding: 0;
}

.header__search-container {
    
    .input-container {
        position: relative;
        padding: 0;
        float: left;
        display: block;

        form {

            input {
                max-width: 280px;
                padding: 0 20px;
                background: #fff;
                outline: none;
                
                width: 350px;
                height: 50px;

                border-radius: 5px;
                border: none;
                box-shadow: 0 0 2px 1px rgba(#000, .05);

                margin-top: 5px;
                font-family: inherit;
                font-size: inherit;
                line-height: inherit;
                font-weight: 400;
            }
            
            button {
                position: absolute;
                background: transparent;
                top: 7px;
                bottom: 0;
                right: 10px;
                border: 0;
                padding: 1px 6px;

                i {
                    color: #636363;
                    cursor: pointer;
                    font-size: 17px;
                }
            }
        } 
    }
}