*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} 

body {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    line-height: 1.5;
    font-size: 14px;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: 'Bubblegum Sans', cursive;
    color: $color-black;
    margin-top: 0px;
    font-style: normal;
    font-weight: 500;
}

h2 {
    font-size: 45px;

    @include _992 {
        font-size: 40px !important;
        
    }

    @include _768 {
        font-size: 35px !important;
        line-height: 44px;
    }
}

h3 {

    font-size: 27px;

    @include _1200 {
        font-size: 22px !important;
    }

    @include _992 {
        font-size: 24px !important;
    }

    @include _768 {
        font-size: 27px !important;
    }
}

p {
    font-size: 14px;
    color: #7f7a7a;
    margin-top: 0px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

a {
    text-decoration: none;
    color: $color-black;
}

li {
    list-style: none;
}

ul {
    margin: 0px;
    padding: 0px;
}

img {
    vertical-align: middle;
    border-style: none;
}

button {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 7px 15px;
    cursor: pointer;
    outline: none;
}
