.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.max-width {
    @media (min-width: 1201px) {max-width: 1200px;}
    @media (max-width: 1200px) {max-width: 960px;}
    @media (max-width: 992px) {max-width: 720px;}
    @media (max-width: 768px) {max-width: 450px;}
    
}

.text-center {
    text-align: center !important;
}

.visible {
    opacity: 1 !important;
    transform: translate(0px) !important;
}

.footer-mr {
    @include _1201_and_higher {
        margin-right: 8.3% !important;
    }
}