.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


// HEADER

.header__logo-container {
    -webkit-box-flex: 0;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    @include column;

}

.header__menu-container {
    -webkit-box-flex: 0;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    display: block;
    @include column;

    @include _1200 {
        flex: 0 0 58.33%;
        max-width: 58.33%;
    }
}

.header__search-container {
    display: flex;
    -webkit-box-flex: 0;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    justify-content: flex-end;
    -webkit-box-pack: end;
    @include column;

    @include _1200 {
        flex: 0 0 25%;
        max-width: 25%
    }
}

// FEATURES SECTION

.feature-area__item {
    -webkit-box-flex: 0;
    
    @include column;

    @include _1201_and_higher {
        flex: 0 0 25%;
        max-width: 25%;
    }
    @include _1200 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    @include _992 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    @include _768 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
}

// COUNTER SECTION

.counter__item {
    -webkit-box-flex: 0;
    @include column;

    @include _1201_and_higher {
        flex: 0 0 25%;
        max-width: 25%;
    }
    @include _1200 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    @include _992 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    @include _768 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

// CLASSES SECTION

.classes-container__title {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
    @include column;

    @include _992 {
        flex: 0 0 66.67%;
        max-width: 66.67%;
    }

    @include _768 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
}

.classes-container__btn {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
    @include column;

    @include _992 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }

    @include _768 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.classes__col {
    -webkit-box-flex: 0;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    @include column;

    @include _992 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    @include _768 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

// GALLERY SECTION

.gallery__menu-container {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
    @include column;
}

// FOOTER SECTION

.footer__col--left {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    @include column;

    @include _992 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    @include _768 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.footer__col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.67%;
    flex: 0 0 16.67%;
    max-width: 16.67%;
    @include column;

    &:not(:last-child) {
        @include _1200 {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }

    @include _992 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    } 

    @include _768 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}


.photo-container {

    display: flex;
    flex-wrap: wrap;
    margin: 0 -3px;

    .photo {
        flex: 50%;
        max-width: 50%;
        margin-bottom: 10px;
        padding: 0px 4px;
        position: relative;
    }
}


